.feed-section {
  @include media-breakpoint-down(lg) {
    height: calc(100vh - 240px);
    overflow-y: auto;
    margin: rem(-6);
    padding: rem(6);
  }

  @include media-breakpoint-down(md) {
    height: calc(100vh - 180px);
  }

  .btn-load-more {
    margin-bottom: rem(30);

    @include media-breakpoint-down(xs) {
      margin-bottom: 0;
    }
  }

  .ajax-progress {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0;
    position: absolute;
    left: 0;
    top: rem(110);
    width: 100%;
    z-index: 10;
  }

  .throbber {
    animation: scale 3s ease infinite;
    background: url(./images/design/Logo_opigno_circle.svg) center/cover no-repeat;
    height: rem(20);
    padding: 0;
    width: rem(20);
  }

  .restricted-text {
    text-align: center;

    .content-box__title {
      font-size: rem(22);
      margin-bottom: rem(10);

      @include media-breakpoint-down(lg) {
        margin-bottom: 0;
      }
    }
  }
}

.comment-form {
  display: flex;
  flex: 1 0 auto;
  position: relative;

  .awards-list {
    padding-left: rem(51);
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: rem(30);
    padding: rem(13) rem(20) rem(13) rem(13);
    position: relative;

    @include media-breakpoint-down(md) {
      margin-bottom: rem(10);
    }

    .profile-pic {
      height: rem(39);
      margin-right: rem(10);
      width: rem(39);
    }

    .awards-list {
      padding-left: rem(51);
    }
  }

  .form-item {
    flex: 1 0 auto;
    margin-right: 0;
    margin-bottom: 0 !important;
  }

  .ajax-progress {
    top: rem(25);

    .message {
      display: none;
    }
  }
}

.awards-list {
  display: flex;
  flex-wrap: wrap;
  flex: 1 0 100%;
  font-size: rem(14);

  &__item {
    border: 1px solid $clr-desktop-link;
    border-radius: rem(20);
    cursor: pointer;
    margin-top: rem(13);
    margin-right: rem(12);
    padding: rem(1) rem(10) rem(0);

    &:hover {
      background-color: $clr-green-light;
    }
  }

  a {
    color: $clr-desktop-text;
    text-decoration: none;
  }

  .fi {
    display: inline-block;
    margin-right: rem(6);
    transform: translateY(2px);
  }

  .ajax-progress {
    display: none;
  }
}

.comment-item {
  &__container {
    position: relative;

    @include media-breakpoint-down(md) {
      margin-bottom: rem(10);
    }

    .pinned-post {
      align-items: center;
      display: flex;
      cursor: pointer;
      font-size: rem(12);
      font-style: italic;
      position: absolute;
      right: rem(50);
      top: rem(-5);
      z-index: 1;

      .fi {
        background: $clr-desktop-link url(./images/design/pinned-icon.svg) center no-repeat;
        border-radius: 50%;
        margin-left: rem(10);
        height: rem(26);
        width: rem(26);
      }
    }

    .dropdown {
      position: absolute;
      top: rem(-10);
      right: rem(10);
    }

    .dropdown-toggle {
      background: none;
      border: none;
      color: $clr-desktop-text;
      cursor: pointer;
      font-size: rem(27);
      padding: 0;

      &:after {
        content: none;
      }
    }

    .dropdown-menu {
      animation-name: fadeIn;
      animation-duration: 0.3s;
      animation-fill-mode: both;
      margin-top: -6px;
      margin-right: -6px;
      opacity: 0;
      transition: opacity .3s ease-out;

      &.show {
        opacity: 1;
      }
    }

    .profile-pic {
      flex: 0 0 rem(39);
      height: rem(39);
      margin-right: rem(10);
      width: rem(39);
    }
  }

  &__user-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__user {
    display: flex;
    margin-bottom: rem(20);
    position: relative;
  }

  &__name {
    font-size: rem(14);
    font-weight: $font-weight-bold;

    a {
      color: inherit;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &-name{
    color: $clr-desktop-text;
    font-size: rem(12);
    font-style: italic;
    font-weight: $font-weight-bold;
  }

  &__date {
    color: $clr-desktop-text;
    font-size: rem(12);
    font-style: italic;
    text-decoration: none;
  }

  &__body {
    font-size: rem($font-size-sm);
    overflow-wrap: break-word;

    div img {
      margin: 0 auto 20px;
    }

    .opigno-file-extension-formatter {
      display: flex;
      padding: 10px;
      background-color: $clr-gray-light;
      border-radius: 10px;
      margin-bottom: 20px;
      align-items: center;
      color: $clr-navy;

      &:hover {
        background-color: $clr-green-light;
        text-decoration: none;
        color: $clr-navy;
      }

      .file::before {
        content: "";
        display: inline-block;
        width: 40px;
        height: 40px;
        margin-right: 8px;
        background-position: center;
        background-repeat: no-repeat;
      }

      .pdf::before {
        background: url('./images/design/pdf-file.svg') no-repeat;
      }

      .doc,
      .docx::before {
        background: url('./images/design/doc-file.svg') no-repeat;
      }

      .gif::before {
        background: url('./images/design/gif-file.svg') no-repeat;
      }

      .jpg,
      .jpeg::before {
        background: url('./images/design/jpg-file.svg') no-repeat;
      }

      .png::before {
        background: url('./images/design/png-file.svg') no-repeat;
      }

      .ppt,
      .pptx::before {
        background: url('./images/design/ppt-file.svg') no-repeat;
      }

      .svg::before {
        background: url('./images/design/svg-file.svg') no-repeat;
      }

      .txt::before {
        background: url('./images/design/txt-file.svg') no-repeat;
      }

      .webp::before {
        background: url('./images/design/pdf-file.svg') no-repeat;
      }

      .xls,
      .xlsx::before {
        background: url('./images/design/xls-file.svg') no-repeat;
      }

      .download {
        margin-left: auto;
        padding-left: 10px;
        background: url('./images/svg/fi-rr-download.svg') no-repeat;
        font-size: 0;
        height: 24px;
        width: 24px;
      }
    }

    p {
      margin: 0 0 rem(10);
    }

    a {
      text-decoration: none;

      &:hover {
        color: $clr-desktop-link;
        text-decoration: underline;
      }

      &.link-bold {
        cursor: pointer;
        font-weight: $font-weight-bold;
      }

      &.shared-content-link {
        color: $clr-desktop-text;
        &:hover {
          .group--preview {
            background-color: $clr-gray-light;
          }
          text-decoration: none;
        }
      }
    }

    .post {
      border: 1px solid $clr-desktop-text;
      border-radius: rem(20);
      margin: rem(20) 0;
      padding: rem(20);

      &__title {
        font-weight: $font-weight-extrabold;
        margin-bottom: rem(15);
      }

      &__body {
        align-items: center;
        display: flex;
      }

      &__body-badge-certificate {
        align-items: flex-start;
        flex-direction: column;

        .post__info {
          margin: auto;
        }
      }

      &__pretext {
        margin-bottom: rem(20);
      }

      &__image {
        flex: 1 0 rem(143);
        max-width: rem(143);
        padding-right: rem(23);

        img {
          border-radius: rem(10);
        }
      }

      p:not([class]) {
        margin: 0;
      }
    }
    .user-mention {
      font-weight: 800;
      color: $clr-navy;
    }
  }

  &__info {
    display: flex;
    margin:rem(20) 0 rem(12);
    position: relative;

    .comment-item__actions--comment {
      font-size: rem(12);
      font-style: italic;
      margin-left: auto;

      &:hover{
        text-decoration: underline;
        color:$clr-navy;
      }
    }

    .ajax-progress {
      left: 50%;
      top: 0;
    }
  }

  &__number--like {
    align-items: center;
    display: flex;
    color: $clr-navy;
    cursor: pointer;
    font-size: rem(12);
    font-style: italic;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    .fi {
      margin-left: 4px;
    }
  }

  &__number--comment {
    cursor: pointer;
    font-style: italic;
  }

  &__actions {
    display: flex;
    font-size: rem(14);
    font-weight: $font-weight-bold;
    position: relative;

    .fi {
      font-size: rem(16);
      margin-right: rem(4);
    }

    .ajax-progress {
      top: 50%;
      left: 50%;
    }
  }

  &__actions--like,
  &__actions--comment {
    align-items: center;
    display: inline-flex;
    color: $clr-desktop-text;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      text-decoration: none;
      color: $clr-desktop-link;
    }
  }

  &__actions--like {
    margin-right: 12.5%;

    &.active {
      color: $clr-desktop-link;
    }
  }

  &__collapse-comments {
    color: $clr-desktop-text;
    cursor: pointer;
    position: absolute;
    right: rem(-8);
    top: rem(-8);
    text-decoration: none;

    &:hover {
      text-decoration: none;
    }

    .fi {
      font-size: rem(30);
    }
  }

  &__form {
    position: relative;

    .form--content {
      display: flex;
      padding-top: rem(16);
    }

    .form-actions {
      margin-right: rem(20);
    }

    .ajax-progress {
      display: none;
    }
  }

  &__comment--list {
    padding-top: 20px;
    position: relative;

    &__item {
      display: flex;
      margin-bottom: rem(12);

      .user-mention {
        font-weight: 800;
        color: $clr-navy;
      }

      &:last-child {
        margin-bottom: 0;
      }

      .comment-item__actions--like {
        align-items: center;
        display: flex;
        color: $clr-desktop-text;
        font-size: rem(12);
        font-weight: $font-weight-bold;
        margin-right: rem(12);
        text-decoration: none;

        &.active {
          color: $clr-desktop-link;
        }

        &:hover {
          color: $clr-desktop-link;
        }

        .fi {
          font-size: rem(13);
          margin-right: rem(2);
        }
      }

      a {
        color: $clr-desktop-text;
        text-decoration: none;

        &.link-bold {
          cursor: pointer;
          font-weight: $font-weight-bold;
        }
      }
    }

    .profile-pic {
      margin-right: rem(10);
    }

    .content-wrapper{
      flex-grow: 1;
    }

    .content {
      align-items: flex-end;
      display: flex;
      margin-bottom: rem(5);

      &__bottom {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
      }
    }

    .body {
      background: $clr-gray-light;
      border-radius: rem(10);
      font-size: rem(14);
      padding: rem(10) rem(30) rem(10) rem(10);
      position: relative;
      width: 100%;

      .comment-item__number--like {
        position: absolute;
        bottom: rem(10);
        right: rem(10);
      }
    }

    .dropdown {
      top: rem(10);
    }

    .dropdown-toggle {
      .fi-rr-menu-dots {
        font-size: rem(12);

        &:before {
          font-weight: $font-weight-bold !important;
        }
      }
    }

    .dropdown-menu {
      margin-right: 0;
      margin-top: 0;
      min-width: rem(130);
    }

    .dropdown-item-text {
      padding: rem(7) 0;
    }

    .name {
      a {
        font-weight: $font-weight-bold;
        color: inherit;
        text-decoration: none;
        margin-right: rem(20);
      }
    }

    p {
      margin: rem(5) 0;
      overflow-wrap: break-word;
      max-width: rem(400);
    }

    .load-comments {
      color: $clr-desktop-text;
    }

    .ajax-progress {
      left: 50%;
      top: 50%;
    }
  }
}

.collapsed-comments {
  display: none;
}

.new-comment-devider {
  font-size: rem(12);
  font-style: italic;
  margin: 0 auto rem(20);
  position: relative;
  text-align: center;
  width: rem(245);

  &:after {
    background: $clr-desktop-text;
    content: '';
    display: flex;
    justify-content: center;
    height: 1px;
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
  }

  span {
    background: $clr-white;
    padding: 0 rem(4);
    position: relative;
    z-index: 1;
  }
}

.comment-comment-forum-form {
  display: block;
  margin: 0 auto;
  max-width: rem(490);

  .form-item {
    margin-right: 0;
  }

  .field--name-subject,
  .field--name-comment-body {
    margin-bottom: rem(20);

    .form-text {
      border-radius: rem(10);
    }

    label {
      display: none;
    }
  }

  .form-actions {
    display: flex;
    justify-content: flex-end;
  }

  #edit-preview {
    display: none;
  }
}

.add-new-comment {
  border-top: 1px solid $clr-gray-light-D5;
  padding-top: rem(20);

  &__container {
    > h2 {
      margin-bottom: rem(20);
      text-align: center;
    }
  }
}

.full-text {
  display: none;
}

.read-more-text {
  p {
    &:last-of-type {
      display: inline;
    }
  }
}

.page-social-feed,
.section-community,
.section-communities-feed,
.section-post {
  .page-main {
    .comment-form {
      flex-direction: column;
      border-radius: rem(10);
      box-shadow: 0 0 6px rgba($clr-black, .3);
      margin-bottom: rem(20);
      padding: rem(20);
      position: relative;

      @include media-breakpoint-down(md) {
        margin-bottom: rem(15);
      }

      @include media-breakpoint-down(xs) {
        padding: rem(10);
      }

      .emoji-picker {
        position: absolute;
        right: rem(56);
        top: rem(49);
        border-radius: 50%;
        width: rem(25);
        height: rem(25);
        background: $clr-white url(./images/design/face-smile-upside-down.svg) center no-repeat;
        padding: 0;
        border: none;
        min-width: 0;
        min-height: 0;
        color: transparent;
        font-size: 0;
        cursor: pointer;

        &:hover {
          border-color: $clr-green-light;
          background-color: $clr-green-light;
          color: transparent;
        }
      }

      .post-form-submit-active {
        background-color: $clr-white;
        background: url(./images/design/send-navy.svg) 5px 8px/24px no-repeat;
        border-color: $clr-green;
        transition: none;

        &:hover {
          background-color: $clr-green-light;
          transition: none;
        }
      }

      iframe {
        height: 172px !important;
        overflow-y: hidden;

        .form-item-upload {
          margin-bottom: 0;
        }
      }

      .form-item legend {
        display: none;
      }
      .awards-list-moduleon {
        padding-left: 0;
        margin-top: 7px;
        flex-wrap: nowrap;


        @include media-breakpoint-down(md) {
          overflow-x: auto;
          padding-bottom: 10px;
        }

        .fi {
          transform: translateY(0px);
          font-size: 20px;
        }


        .awards-list__item {
          @include media-breakpoint-down(xl) {
            margin-right: 5px;
          }
          @include media-breakpoint-down(lg) {
            margin-right: 10px;
          }
          @include media-breakpoint-down(sm) {
            margin-right: 5px;
          }
        }

        a {
          display: inline-flex;
          align-items: center;

          &:last-child {
            margin-right: 0;
          }
        }


        .icon-file {
          background: $clr-white url(./images/design/file-icon.svg) center no-repeat;
          border: 1px solid $clr-green;
          border-radius: 50%;
          height: rem(40);
          min-height: 0;
          min-width: 0;
          outline: none;
          text-indent: -9999px;
          width: rem(40);
          margin-left: 0;
          flex-shrink: 0;

          &:hover {
            background-color: $clr-green-light;
          }

          @include media-breakpoint-down (md) {
            width: rem(28);
            height: rem(28);
            background-size: rem(19);
            padding: rem(10);
          }
        }

        .icon-pic {
          background: $clr-white url(./images/design/picture.svg) center no-repeat;
          border: 1px solid $clr-green;
          border-radius: 50%;
          height: rem(40);
          min-height: 0;
          min-width: 0;
          outline: none;
          text-indent: -9999px;
          width: rem(40);
          flex-shrink: 0;

          &:hover {
            background-color: $clr-green-light;
          }

          @include media-breakpoint-down (md) {
            width: rem(28);
            height: rem(28);
            background-size: rem(18);
            padding: rem(10);
          }
        }
      }
      .post-hint {
        margin: rem(20) 0;
        font-weight: 600;
        color: $clr-navy;
      }
    }

    .comment-form__container {
      flex-direction: row;
      margin-bottom: 0;
      position: relative;
      padding: 0;
      margin-bottom: 0;
      flex-wrap: nowrap;

      .form-actions {
        margin-left: rem(5);
      }

      .opigno-post-form-text-container {
        flex: 1 0 auto;
        margin-right: 5px;
        margin-bottom: 0 !important;

        .error-msg {
          margin-top: 5px;
          color: $clr-red;
        }
      }

      .opigno-user-mention-list {
        position: absolute;
        top: 90%;
        left: 60px;
      }
    }
    .comment-item__form {
      .opigno-post-form-wrapper {
        width: 100%;

        .form-actions {
          margin-right: 0;
        }

        .comment-form {
          border: none;
          box-shadow: none;
          padding: rem(10) 0 0;
          margin-bottom: 0;

          .comment-form__container {
            margin-bottom: 0;
          }
        }
      }
    }

    .comment-item {
      &__container {
        overflow: visible;
      }
    }

    .field--widget-opigno-entity-browser-entity-reference,
    .field--widget-entity-browser-entity-reference {
      margin: rem(20) 0;

      .js-form-wrapper {
        box-shadow: none;
        backdrop-filter: blur(20px);
        margin-right: 0;
        padding: 0;
        position: relative;

        summary {
          display: none;
        }

        .ajax-progress {
          left: 55%;
          top: 50%;
          height: rem(24);
          width: rem(24);

          .throbber {
            height: rem(24);
            width: rem(24);
          }
        }

        .entities-list {

          .rendered-entity {
            position: relative;

            > input {
              margin-left: 0;
              margin-right: rem(10);

              &:last-child {
                margin-right: 5px;
                position: absolute;
                right: 0;
                width: 25px;
                height: 25px;
                border-radius: 50%;
                padding: 0;
                background-color: $clr-white !important;
                border-color: $clr-white !important;
                background-image: url(./images/svg/fi-rr-cross-small.svg) !important;
                background-repeat: no-repeat !important;
                color: transparent;
                font-size: 0;
                min-width: 0;
                min-height: 0;
              }
            }
          }
        }

        .reset-iframe-btn {
          position: absolute;
          top: 0;
          right: 0;
          z-index: 9999;
          width: 25px;
          height: 25px;
          border-radius: 50%;
          padding: 0;
          background-color: $clr-white !important;
          border-color: $clr-white !important;
          background: url(./images/svg/fi-rr-cross-small.svg) center no-repeat;
          margin: 5px;
        }
        p {
          text-align: center;
          color: $clr-gray;
          padding-top: 20px;
          border-bottom-right-radius: 10px;
          border-bottom-left-radius: 10px;
        }
      }
    }

    .field--name-images {

      .entities-list {
        white-space: nowrap;
        overflow-x: auto;

        &::-webkit-scrollbar {
          height: 3px;
        }
        &::-webkit-scrollbar-thumb {
          background-color: $gray-dark;
        }

        .rendered-entity {

          .ajax-progress {
            display: none;
          }

          img {
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 10px;
          }
        }
      }

    }

    .field--name-documents {
      .entities-list {
        white-space: normal;
        overflow-x: hidden;

        .rendered-entity {
          margin: 0;
          width: 100%;

          .ajax-progress {
            display: none;
          }

          .opigno-file-extension-formatter {
            display: flex;
            padding: rem(10);
            background-color: $clr-gray-light;
            border-radius: rem(10);

            .file::before {
              content: "";
              display: inline-block;
              width: rem(40);
              height: rem(40);
              margin-right: rem(8);
              background-position: center;
              background-repeat: no-repeat;
            }
            .pdf::before {
              background: url('./images/design/pdf-file.svg') no-repeat;
            }

            .doc,
            .docx::before {
              background: url('./images/design/doc-file.svg') no-repeat;
            }

            .gif::before {
              background: url('./images/design/gif-file.svg') no-repeat;
            }

            .jpg,
            .jpeg::before {
              background: url('./images/design/jpg-file.svg') no-repeat;
            }

            .png::before {
              background: url('./images/design/png-file.svg') no-repeat;
            }

            .ppt,
            .pptx::before {
              background: url('./images/design/ppt-file.svg') no-repeat;
            }

            .svg::before {
              background: url('./images/design/svg-file.svg') no-repeat;
            }

            .txt::before {
              background: url('./images/design/txt-file.svg') no-repeat;
            }

            .webp::before {
              background: url('./images/design/pdf-file.svg') no-repeat;
            }

            .xls,
            .xlsx::before {
              background: url('./images/design/xls-file.svg') no-repeat;
            }
          }
        }
      }
    }
  }
}

.section-post{
  .page-main{
    .row{
      justify-content: center;

      .post-view{
        max-width: rem(558);
      }
    }
  }
}
